@import-normalize;

html {
  background: url("/src/mainBackground.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
